<div class="conteiner-contac">

    <body>
        <div class="tel-conteiner">
            <div class="img-mesa"></div>
            <h1 class="h1-tel">
                <p class="h1-tel">Telefono <i class="fas fa-phone"></i></p>
                <p id="tel">4427468</p>
                <div class="espaciado-contacto"></div>
                <p class="h1-dir">Direccion <i class="fas fa-map-marker-alt"></i></p>
                <p id="dir">Julio A Roca 450 - TW-Chubut</p>
                <div class="espaciado-contacto2"></div>
                <p>Atencion <i class="fas fa-calendar-day"></i></p>
                <p id="atencion">Martes y Jueves</p>
                <div class="espaciado-contacto3"></div>
                <p>horario <i class="far fa-clock"></i></p>
                <p id="horario">17:00 a 20:00hs</p>
            
            </h1>
            
            
        </div>

        <div class="espaciado"></div>

        <h1 class="h1-ubi">Ubicación</h1>
        <div class="ubicacion-card"></div>
        <a href="https://www.google.com.ar/maps/place/Julio+Argentino+Roca+450,+Trelew,+Chubut/@-43.2565397,-65.3128708,17z/data=!3m1!4b1!4m5!3m4!1s0xbe0144c6e1913791:0xd6b1f6f2b363a65a!8m2!3d-43.2565397!4d-65.3106821" class="btn btn-primary btn-block">Ver <i class="fas fa-map-marker-alt"></i></a>
        
        <div class="espaciado2"></div>

        <div class="card-info">
            <h1><i class="fas fa-exclamation-circle"></i>Importante</h1>
            <p id="orden-llegada">La atención es por turno.</p>
            <p class="covid">Debido a la situacion epidemiologica (COVID19) es obligatorio el uso del tapa bocas para el ingreso al establecimiento y se aconseja tomar todos los cuidados vigentes hasta la fecha. Muchas gracias</p>
        </div>
        
    </body>
    <div class="separador-contacto"></div>
</div>