<div class="conteiner-prof">
    <body>
        <header class="prof-presentacion">
            <h2 class="h2-prof">PROFESIONALES</h2>
        </header>
        <div class="espacio-prof"></div>
        <div class="card-prof">
            <h1 class="ale">Dr. Hector Alejandro Rucci</h1>
            <ul class="item-ale">
                <li><i class="fas fa-phone-square-alt"></i> Telefono: 2804685037</li>
                <li><i class="fas fa-at"></i> Correo: ruccistw@hotmail.com</li>
                <li><i class="fas fa-file-alt"></i> Nro Matricula: 1646 CPATW</li>
                
            </ul>
            <hr class="hr-1">
            <h1 class="adriana">Dra. Adriana Marcela Zeppo Pantano</h1>
            <ul class="item-adriana">
                <li><i class="fas fa-phone-square-alt"></i> Telefono: (02965)15569773</li>
                <li><i class="fas fa-at"></i> Correo: adrianazeppo@yahoo.com.ar</li>
                <li><i class="fas fa-file-alt"></i> Nro Matricula: 1681 CPATW</li>
            </ul>
            <hr class="hr-2">
            <h1 class="pepe">Dr. Jose Luis Sarries</h1>
            <ul class="item-pepe">
                <li><i class="fas fa-phone-square-alt"></i> Telefono: 4427468 </li>
                <li><i class="fas fa-at"></i> Correo: pepe_legal_1@hotmail.com</li>
                <li><i class="fas fa-file-alt"></i> Nro Matricula: 1278 CPATW</li>
            </ul>

        </div>
    
    </body>
</div>
<div class="separado-footer"></div>
