<div class="conteiner">

    <body>
        <header class="presentacion">
            <h2 class="h2-presentacion">LA MEJOR ATENCION Y CONFIANZA EN UN LUGAR</h2>
            <p class="p-presentacion">Consulte todas sus dudas con nosotros, su consulta no molesta</p>
        </header>
        <div class="espacio-index"></div>
        <h1 class="areas">Areas</h1>
        <div class="new-cards">
            <div>
                <p class="ico-fam"><i class="fas fa-balance-scale"></i></p>
                <h3>Derecho Familia</h3>
                <p>Es la parte del Derecho Civil que tiene por objeto las relaciones jurídicas familiares: relaciones conyugales, paterno-filiales, tanto en su aspecto personal como patrimonial, la tutela y las demás instituciones de protección de menores e incapacitados. Constituye el eje central la familia, el matrimonio y la filiación.</p>
                <a href="https://es.wikipedia.org/wiki/Derecho_de_familia" class="btn btn-primary">Leer Mas <i class="fas fa-angle-double-right"></i></a>
            </div>

            <div>
                <p class="ico-civil"><i class="fas fa-male"></i></p>
                <h3>Derecho Civil</h3>
                <p>El derecho civil es la rama del derecho privado que regula las principales relaciones civiles de las personas. Tradicionalmente es la rama del derecho que regula el estado civil de las personas, las relaciones familiares, la propiedad y los demás derechos reales, las obligaciones y contratos, y las sucesiones</p>
                <a href="https://es.wikipedia.org/wiki/Derecho_civil" class="btn btn-primary">Leer Mas <i class="fas fa-angle-double-right"></i></a>
            </div>

            <div>
                <p class="ico-comercial" ><i class="fas fa-user-shield"></i></p>
                <h3>Derecho de la Seguridad Social</h3>
                <p>El derecho a la seguridad social incluye el derecho a no ser sometido a restricciones arbitrarias o poco razonables de la cobertura social existente, ya sea del sector público o del privado, así como del derecho a la igualdad en el disfrute de una protección suficiente contra los riesgos e imprevistos sociales.</p>
                <a href="https://es.wikipedia.org/wiki/Derecho_de_la_seguridad_social" class="btn btn-primary">Leer Mas <i class="fas fa-angle-double-right"></i></a>
            </div>

            <div>
                <p class="ico-suc"><i class="fas fa-users"></i></p>
                <h3>Derecho de Sucesiones</h3>
                <p>El derecho de sucesiones o derecho sucesorio es aquella parte del derecho privado que regula y determina el destino de las titularidades y relaciones jurídicas tanto activas como pasivas de una persona después de su muerte</p>
                <a href="https://es.wikipedia.org/wiki/Derecho_de_sucesiones" class="btn btn-primary">Leer Mas <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
    </body>
    <div class="separado-index"></div>
</div>