<nav class="nav-main">
    <img src="/img/logo_juridico.png" alt="" class="nav-logo">
    <div class="btn-group boto" role="group" aria-label="Basic example">
        <a href="/" class="btn btn-primary btnhome">INICIO</a>
        <a href="/profesional" class="btn btn-primary btnprof">PROFESIONALES</a>
        <a href="/contacto" class="btn btn-primary btncontac">CONTACTO</a>
    </div>
    
</nav>